<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    <title>Login page</title>
</head>
<body>
    <header>
        <img class = "logo" src="public/img/logo.svg">
    </header>
    <main>
        <form class = "login">
            <input name="username/email" type="text" placeholder="username/email">
            <input name="password" type="password" placeholder="password">
            <button name="button-login">Log in</button>
        </form>
        <div class = "splitter">
            <hr>
            <span class="or">OR</span>
            <hr>
        </div>
        <form class ="register">
            <input name="username" type="text" placeholder="username">
            <input name="email" type="text" placeholder="email">
            <input name="password" type="password" placeholder="password">
            <input name="repeate-password" type="password" placeholder="repeate password">
            <div class="privacy_policy_div">
                <input type="checkbox" id="privacy_policy_box" name="privacy_policy_checkbox" value="Accept">
                <label id="policy_label" for="privacy_policy_box"> I read and accepted <a href="https://google.com"><u>privacy policy</u></a></label><br>
            </div>
            <button name="button-signin">Sign in</button>
        </form>
    </main>
</body>
