html *
{
    font-size: 1em !important;
    font-family: Tahoma, sans-serif !important;
}

body {
    margin:0;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    width: 100vw;
    height: 80px;
    background: linear-gradient(180deg, #7BC0B0 0%, rgba(0, 0, 0, 0) 100%), #006C7C;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main {
    flex:1;
    background-color: #E0FDFF;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.logo {
    max-height: 60px;
    margin-left: 10px;
}

.menu_bar {
    background-color: #b6dde1;
    width: 80px;
    min-width:80px;
    padding: 5px;
}

.menu_bar a{
    display: flex;
    justify-content: center;
}

.menu_bar p{
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

#flashcards_list {
    display: flex;
    flex-direction:column;
    width:100%;
}

.flashcard_list_elem {
    display:flex;
    flex-direction: row;
}

.flashcard_list_elem div {
    margin: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.flashcard_list_elem .flashcard_front {
    padding-left: 5px;
    min-width:10%;
    width: 44%;
}
.flashcard_list_elem .flashcard_back {
    padding-left: 5px;
    min-width:10%;
    width: 44%;
}
.flashcard_list_elem .flashcard_progress {
    padding-left: 5px;
    min-width: 80px;
    width: 6%;
}
.flashcard_list_elem .flashcard_flag {
    padding-left: 5px;
    min-width: 50px;
    width: 6%;
}


#front{
    font-size: 1.4em !important;
    font-family: Tahoma, sans-serif !important;
}

#back {
    font-size: 1.4em !important;
    font-family: Tahoma, sans-serif !important;
}

#main_newcard {
    flex:1;
    background-color: #E0FDFF;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.wrap {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:100%;
}

.card {
    display: flex;
    padding: 20px;
    margin: 5px;
    width: 40vh;
    height:60vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
    border:5px solid black;
    border-radius: 50px;
}

.card input{
    margin: 30px;
}

.card .card_half {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_splitter {
    height:5px;
    border-radius: 5px;
    background-color: black;
    width:80%;
}

.newcard_text_field {
    height: 40px;
    width: 90%;
    border-radius: 12px;
    border-color: black;
    border-width: 1px;
    padding: 0px 0px 0px 8px;
}

#newcard_add_button {
    width: 20vh;
    height: 6vh;
    margin: 1vh;

    background-color: white;
    border:3px solid black;
    border-radius: 10px;
}


.difficulty_buttons {
    display: flex;
    flex-direction: row;
}

.difficulty_buttons button {
    width: 10vh;
    height: 6vh;
    margin: 1vh;

    background-color: white;
    border:3px solid black;
    border-radius: 10px;
}

.difficulty_buttons #button_again {
    color: #ff6b6b;
}

.difficulty_buttons #button_hard {
    color: #ff9f57;
}

.difficulty_buttons #button_easy {
    color: #4cb640;
}

.control_buttons {
    display: flex;
    flex-direction: row;
    width: 40vh;
    justify-content: space-evenly;
}

